<div class="cover-container d-flex flex-column p-3 mx-3">
    <header class="masthead mb-auto">
        <div class="inner">
            <h1>Login</h1>
        </div>
    </header>

    <main role="main" class="inner cover flex-grow-1">

        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" placeholder="Enter Username (At least 6 Alphanumeric)" [(ngModel)]="user.username">
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Enter Password (5 - 10 Alphanumeric)" [(ngModel)]="user.password">
        </div>

        <button class="btn btn-primary" (click)="login()">Login</button>
        
    </main>